body{
    background:#0f172a;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.login-card{
    width:400px;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}

.login-card h2{
    text-align:center;
    margin-bottom:20px;
}

.hero{
    background:linear-gradient(135deg,#2563eb,#0f172a);
    height:350px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    color:white;
    border-radius:20px;
}